*{
    margin: 0;
    padding: 0;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: var(--cor-preta-bl);
    cursor: pointer;
}

.logo{
    height: 60px;   
}

body {
    background-color: var(--cor-preta-bl);
    color: var(--cor-branca-bl);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh; 
    width: 98vw; 
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-bottom: 5px;
}

.input-field {
    width: 363px;
    padding: 13px;
    border: 1px solid #DBA2FF;           
    border-radius: var(--mini-b-radius); 
    background-color: var(--cor-preta-bl);
    color: var(--cor-branca-bl);         
    box-shadow: 0 4px 50px 0 #dba2ff7e;  
    font-size: 1rem;
    outline: none;
    transition: box-shadow .2s, border .2s;
}
.input-field:focus {
    box-shadow: 0 4px 60px 0 #DBA2FF, 0 0 0 1px #DBA2FF;
    border-color: #DBA2FF;
}

.input-label {
    display: block;
    margin-bottom: 7px;
    color: #DBA2FF;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.form-title {
    font-size: 2.5em;
    margin-bottom: 25px;
    font-weight: 800;
}

.btn-submit {
    display: flex;
    width: 370px;
    padding: 10px;
    height: 33px;
    background: linear-gradient(90deg, #836199 0%, #DBA2FF 47%);
    color: var(--cor-branca-bl);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: var(--mini-b-radius);
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 35px;
    margin-top: 25px;
    transition: box-shadow 0.3s ease, background 0.3s ease;
}

.btn-submit:hover {
    box-shadow: 0 6px 60px 0 #dba2ffaa;
    background: linear-gradient(90deg, #7a5295 0%, #c694ff 60%);
    cursor: pointer;
}

.a-section {
    color: var(--cor-roxa-bl);
    text-decoration: underline;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 20px;
    transition: opacity 0.2s;
}
.a-section:hover {
    cursor: pointer;
    opacity: 0.8;
}

.img-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/atlasgym.png');
    box-shadow: 0 0 2500px 90px #000000 inset, 0 0 80px 8px #000 inset;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.labelponto {
    color: var(--cor-roxa-bl);
}

.barra-preta{
    background-color: var(--cor-preta-bl);
    padding: 100px;
}
