    :root{
        --cor-roxa-bl: #DBA2FF;
        --cor-preta-bl: #000000;
        --cor-branca-bl: #FFFFFF;
        --textocor-cinza-bl: #333333;
        --textocor-cinza2-bl: #E6DDE5;
        --textocor-cinza3-bl: #D9D9D9;
        --cor-vermelha-bl: #DF2D2D;
        --mini-b-radius: 5px;
        --basic-b-radius: 10px;
        --font-family: "Montserrat", sans-serif; 
    }

    * {
        font-family: var(--font-family);
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: var(--cor-preta-bl);
        color: var(--cor-branca-bl);
        font-family: var(--font-family);
        margin: 0;
        min-height: 100vh;
    }

    /* Header */
    .atlas-header {
        background: var(--cor-preta-bl);
        border-bottom: 1px solid var(--cor-roxa-bl);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 40px 0 100px;
        height: 92px;
    }

    .atlas-header__logo {
        display: flex;
        align-items: center;
        gap: 100px;
    }

    .atlas-header__logo p{
        color: var(--cor-roxa-bl);
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.02em;
        cursor: pointer;
        transition: color 0.3s ease,text-shadow 0.3s ease;
    }

    .atlas-header__logo p:hover {
        color: #d8b9ff;
        text-shadow:
            0 0 5px #d8b9ff,
            0 0 10px #d8b9ff,
            0 0 20px #b571ff,
            0 0 30px #b571ff,
            0 0 40px #a059f5;
    }


    .atlas-header__logo img {
        height: 60px;
    }
    .atlas-header__title {
        color: var(--cor-roxa-bl);
        font-size: 12px;
        font-weight: bold;
    }
    .atlas-header__perfil i {
        font-size: 2rem;
        color: var(--cor-roxa-bl);
    }

    /* Main background with banner */
    .atlas-main-bg {
        display: flex;
        min-height: 67vh;
        background-size: contain;
        /* ou ajuste conforme quiser: cover, auto, ou % */
        position: relative;
        z-index: 0;
    }

    /* Sidebar */
    .atlas-sidebar {
        min-width: 280px;
        background: var(--cor-preta-bl);
        padding: 36px 0px 36px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 560px;
    }
    .atlas-sidebar__profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .atlas-sidebar__profile i {
        font-size: 38px;
        color: var(--cor-roxa-bl);
    }
    .atlas-sidebar__profile-nome {
        font-weight: lighter;
        color: var(--cor-branca-bl);
        font-size: 16px;
        text-align: center;
    }
    .atlas-sidebar__profile-email {
        font-weight: normal;
        color: var(--cor-branca-bl);
        font-size: 12px;
        text-align: center;
    }
    .atlas-sidebar nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 36px;
    }
    .atlas-sidebar__nav-item {
        color: var(--textocor-cinza4-bl);
        text-decoration: none;
        font-size: 14px;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        gap: 20px;
        border-left: 3px solid transparent;
        transition: background 0.18s, color 0.18s;
    }
    .atlas-sidebar__nav-item:hover {
        color: var(--textocor-cinza4-bl);
        border-left: 4px solid var(--textocor-cinza4-bl);
    }
    .atlas-sidebar__nav-item.ativo {
        color: var(--cor-roxa-bl);
        border-left: 4px solid var(--cor-roxa-bl);
    }

    .atlas-sidebar__nav-item-sair {
        color: var(--cor-vermelha-bl);
        margin-top: 50px;
        text-decoration: none;
        font-size: 14px;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        gap: 20px;
        transition: color 0.3s ease, text-shadow 0.3s ease
    }

    .atlas-sidebar__nav-item-sair:hover {
        color: var(--cor-vermelha-bl);
        text-shadow:
            0 0 2px #df2d2d,
            0 0 5px #df2d2d,
            0 0 10px #b71c1c,
            0 0 15px #b71c1c,
            0 0 20px #7f0f0f;
    }

    /* Central Box */
    .atlas-main {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: url("../img/atlasgym.png") center center repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
    }

    .atlas-main::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        pointer-events: none;
        background: linear-gradient(to right,
                rgba(0, 0, 0, 0.96) 0%,
                /* sombra forte esquerda */
                rgba(0, 0, 0, 0.93) 10%,
                /* distancia maior para o centro */
                rgba(0, 0, 0, 0.06) 40%,
                /* faixa clara começa mais longe */
                rgba(0, 0, 0, 0.06) 60%,
                /* faixa clara termina mais longe */
                rgba(0, 0, 0, 0.93) 90%,
                /* sombra forte direita */
                rgba(0, 0, 0, 0.96) 100%);
    }
    .atlas-bio-box {
        background: var(--cor-preta-bl);
        border-radius: var(--basic-b-radius);
        box-shadow: 0 0 24px 5px var(--cor-roxa-bl), 0 0 0 10px rgba(189, 169, 255, 0.12);
        padding: 36px 38px 32px 38px;
        max-width: 550px;
        width: 100%;
        margin-top: 65px;
        margin-bottom: 45px;
        box-sizing: border-box;
        z-index: 2;
    }
    .atlas-bio-title {
        font-size: 14px;
        color: var(--cor-branca-bl);
        margin-bottom: 10px;
        font-weight: normal;
        text-align: left;
        letter-spacing: 1px;
    }
    .atlas-bio-box input {
        width: 100%;
        padding: 10px 12px;
        border: 1.3px solid var(--cor-roxa-bl);
        border-radius: var(--mini-b-radius);
        background: transparent;
        color: var(--cor-branca-bl);
        font-size: 12px;
        outline: none;
    }
    .atlas-bio-box input:focus {
        border-color: var(--cor-roxa-bl);
    }
    .atlas-bio-box button[type=submit] {
        margin-top: 12px;
        width: 100%;
        background: linear-gradient(90deg, var(--cor-roxa-bl) 0%, #a370fa 100%);
        color: var(--cor-branca-bl);
        font-weight: 700;
        border: none;
        font-size: 14px;
        padding: 11px 0;
        border-radius: var(--mini-b-radius);
        cursor: pointer;
        box-shadow: 0 3px 12px 0 #441e651f;
        transition: background 0.15s;
    }
    .atlas-bio-box button[type=submit]:hover {
        background: linear-gradient(90deg, #cd9dff 0%, #a370fa 100%);
    }

    .atlas-bio-box select {
    width: 100%;
    padding: 10px 12px;
    border: 1.3px solid var(--cor-roxa-bl);
    border-radius: var(--mini-b-radius);
    background: transparent;
    color: var(--cor-branca-bl);
    font-size: 12px;
    outline: none;
    appearance: none; /* remove estilo padrão do navegador */
    box-sizing: border-box;
    }

    /* Opcional: melhorar a aparência das opções (nem todo navegador permite customizar) */
    .atlas-bio-box select option {
        color: var(--cor-branca-bl);
        background: var(--cor-preta-bl);
        font-size: 12px;
        margin-top: 2px;
    }
    /* Container das checkboxes para alinhamento e espaçamento */
    #checkbox-grupos label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    color: var(--cor-branca-bl);
    margin-bottom: -10px;
    }

    /* Esconde checkbox padrão */
    #checkbox-grupos input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 5px;
    height: 5px;
    padding: 9px;
    border: 1.3px solid var(--cor-roxa-bl);
    border-radius: var(--mini-b-radius);
    background: transparent;
    margin-right: 8px;
    cursor: pointer;
    position: relative;
    outline: none;
    }

    /* Checkbox marcada com ícone de check (custom) */
    #checkbox-grupos input[type="checkbox"]:checked {
    background-color: var(--cor-roxa-bl);
    border-color: var(--cor-roxa-bl);
    width: 10;
    }

    #checkbox-grupos input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 4px;
    height: 8px;
    border: solid var(--cor-branca-bl);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    }

    /* Ao focar */
    #checkbox-grupos input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px var(--cor-roxa-bl);
    border-color: var(--cor-roxa-bl);
    }



    .user {
        display: flex;
        font-size: 24px;
        cursor: pointer;
        color: var(--cor-roxa-bl);
        transition: color 0.3s ease, text-shadow 0.3s ease, font-size 0.28s cubic-bezier(.55, .06, .68, .19);

    }

    .user:hover {
        color: var(--cor-roxa-bl);
        text-shadow:
            0 0 2px #d8b9ff,
            0 0 5px #d8b9ff,
            0 0 10px #b571ff,
            0 0 15px #b571ff,
            0 0 20px #a059f5;
    }

    .input-label {
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
        color: #DBA2FF;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    /* Faixa decorativa */
    .atlas-faixa {
        width: 100%;
        height: 110px;
        background: var(--cor-roxa-bl);
        opacity: 0.89;
        margin-top: 0;
    }

    #hamburguer {
        font-size: 26px;
        display: none !important;
    }

    #hamburguer2 {
        font-size: 26px;
        display: none !important;
    }

    .atlas-alunos-box2 {
        padding: 60px 24px 60px 24px;
        border-radius: 18px;
        width: 720px ;
        margin: 50px auto 0 auto;
        z-index: 2;
        background: var(--cor-preta-bl);
        box-shadow: 0 0 12px 2px var(--cor-roxa-bl);      
        }

    .atlas-alunos-box,
    .atlas-prof-box,
    .atlas-admin-box {
        padding: 36px 24px 24px 24px;
        border-radius: 18px;
        width: 750px ;
        margin: 0 auto;
        z-index: 2;
        }

        .alunos-header,
        .exer-header,
        .prof-header,
        .admin-header{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 26px;
        }
        .alunos-search,
        .exer-search,
        .prof-search,
        .admin-search {
        background: var(--cor-preta-bl);
        border-radius: 5px;
        padding: 12px 20px;
        display: flex;
        align-items: center;
        color: #fff;
        box-shadow: 0 0 12px 2px var(--cor-roxa-bl);
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        width: 100%;
        border: var(--cor-roxa-bl) 1px solid;
        }
        .alunos-search input,
        .exer-search input,
        .prof-search input,
        .admin-search input{
        border: none;
        background: transparent;
        color: #fff;
        margin-left: 8px;
        outline: none;
        width: 100%;
        }

        .alunos-grid,
        .exer-grid,
        .div-lista-professores,
        .div-lista-alunos,
        .div-lista-administrador {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 32px;
        margin-bottom: 20px;
        }
        .aluno-card,
        .exer-card,
        .prof-card,
        .admin-card {
        background: var(--cor-preta-bl);
        border-radius: 5px;
        display: flex;
        align-items: center;
        padding: 16px;
        min-height: 120px;
        box-shadow: 0 0 12px 2px var(--cor-roxa-bl);
        color: #fff;
        border: var(--cor-roxa-bl) 1px solid;
        cursor: pointer;
        }
        .aluno-img,
        .exer-img,
        .prof-img,
        .admin-img{
        width: 80px;
        height: 80px;
        background: var(--cor-branca-bl);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        font-size: 12px;
        color: var(--cor-preta-bl);
        }
        .aluno-info div,
        .exer-info div,
        .prof-info div,
        .admin-info div{
        margin-bottom: 6px; 
        font-size: 10px;
        }
        .btn-add-aluno,
        .btn-add-exer,
        .btn-add-prof,
        .btn-add-admin {
        background: var(--cor-roxa-bl);
        color: var(--cor-preta-bl);
        font-weight: bold;
        font-size: 14px;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 12px 24px;
        cursor: pointer;
        float: right;
        transition: filter .19s;
        }
        .btn-add-aluno:hover,
        .btn-add-exer:hover,
        .btn-add-prof:hover,
        .btn-add-admin:hover  {
        filter: brightness(1.08);
        }

        .update-aluno {
            background: var(--cor-roxa-bl);
            color: var(--cor-preta-bl);
            font-weight: bold;
            font-size: 14px;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 12px 24px;
            cursor: pointer;
            float: right;
            transition: filter .19s;
            margin-top: 15px;
        }
        .update-aluno:hover {
            filter: brightness(1.08);
        }

        .delete-aluno {
            background: var(--cor-roxa-bl);
            color: var(--cor-preta-bl);
            font-weight: bold;
            font-size: 14px;
            border: none;
            outline: none;
            border-radius: 5px;
            padding: 12px 24px;
            cursor: pointer;
            transition: filter .19s;
            margin-top: 15px;
        }
        .delete-aluno:hover {
            filter: brightness(1.08);
        }

        .btn-voltar-aluno,
        .btn-voltar-exer,
        .btn-voltar-professor {
        background: var(--cor-roxa-bl);
        color: var(--cor-preta-bl);
        border: none;
        border-radius: 5px;
        padding: 10px 13px;  
        font-weight: bold;
        cursor: pointer;
        font-size: 16px;
        }
        .pai-botoes {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 5px;
        }


        .info-usuario-flex {
        display: flex;
        gap: 38px;
        }

        .info-usuario-col-esq {
        flex: 0 0 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        }

        .info-usuario-img {
        width: 230px;
        height: 230px;
        background: var(--cor-branca-bl);
        color: var(--cor-preta-bl);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        font-size: 1.2rem;
        margin-bottom: 16px;
        }

        .btn-plano-info,
        .btn-edit-usuario {
        width: 230px;
        background: var(--cor-branca-bl);
        color: var(--cor-preta-bl);
        font-size: 12px;
        border: none;
        outline: none;
        border-radius: 8px;
        padding: 10px 0;
        cursor: pointer;
        margin-bottom: 12px;
        transition: filter 0.19s;
        }
        .btn-plano-info:hover,
        .btn-registro-bioimpedancia:hover {
        filter: brightness(1.08);
        }

        .info-usuario-col-dir {
        flex: 1;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 14px;
        }

        .info-usuario-item {
        margin-bottom: 10px;
        }
        .info-usuario-vermenos {
        margin-bottom: 18px;
        font-size: 13px;
        font-style: italic;
        cursor: pointer;
        }

        .div-lista-exer {
        width: 750px;
        margin: 48px auto;
        background: var(--cor-preta-bl);
        border-radius: 20px;
        box-shadow: 0 0 24px 2px var(--cor-roxa-bl);
        padding: 40px 20px;
        display: flex;
        justify-content: center;
        z-index: 2;
        }

        .tabela-semana-esquema {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        font-family: 'Montserrat', sans-serif;
        }

        .tabela-semana-esquema th, .tabela-semana-esquema td {
        padding: 24px 22px;
        font-size: 12px;
        min-width: 120px;
        vertical-align: middle;
        }

        .tabela-semana-esquema th {
        width: 120px;
        background: var(--cor-roxa-bl);
        color: var(--cor-preta-bl, #181429);
        text-align: center;
        font-weight: bold;
        border: 1px solid var(--cor-branca-bl);
        letter-spacing: 1px;
        }

        .tabela-semana-esquema .domingo {
        width: 120px;
        background: var(--cor-roxa-bl);
        color: var(--cor-preta-bl);
        font-weight: bold;
        border-top-left-radius: 10px;
        
        letter-spacing: 1px;
        }

        .tddomingo{
        border-top: 1px solid var(--cor-branca-bl);
        border-top-right-radius: 10px;
        }

        .tdsabado{
        border-bottom: 1px solid var(--cor-branca-bl)!important;
        border-bottom-right-radius: 10px;
        }

        .tabela-semana-esquema .sabado {
        width: 120px;
        background: var(--cor-roxa-bl);
        color: var(--cor-preta-bl, #181429);
        font-weight: bold;
        border-bottom-left-radius: 10px;
        letter-spacing: 1px;
        }

        .tabela-semana-esquema td {
        background: var(--cor-preta-bl);
        color: #fff;
        border-left: 1px solid var(--cor-branca-bl);
        border-right: 1px solid var(--cor-branca-bl);
        border-bottom: 1px solid var(--cor-branca-bl);
        text-align: left;
        }

        .tabela-semana-esquema tr:last-child td {
        border-bottom: none;
        }

        .tabela-semana-esquema th,
        .tabela-semana-esquema td {
        height: 74px;
        }

        .btn-editar {
        background-color: var(--cor-roxa-bl);
        border-radius: 5px;
        border: none;
        padding: 8px 8px;
        cursor: pointer;
        color: var(--cor-preta-bl);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto; /* para colocar o botão do lado direito */
        transition: filter 0.2s ease;
        }

        .btn-editar:hover {
        filter: brightness(1.1);
        }

        .btn-excluir {
        background-color: var(--cor-vermelha-bl);
        border-radius: 5px;
        border: none;
        padding: 8px 11px;
        cursor: pointer;
        color: var(--cor-preta-bl);
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto; /* para colocar o botão do lado direito */
        transition: filter 0.2s ease;
        }

        .btn-excluir:hover {
         filter: brightness(1.1);
        }






/* Ajustes para telas até 900px */
@media (max-width: 900px) {
    .atlas-sidebar__profile {
        display: none;
    }
    .atlas-main-bg {
        flex-direction: column;
    }
    .atlas-sidebar {
        width: 100vw;
        min-height: auto;
        flex-direction: row;
        padding: 12px 0;
        justify-content: center;
        display: none;
        
    }
    .atlas-sidebar nav {
        flex-direction: column;
        gap: 12px;
        padding-top: 0;
    }
    .atlas-sidebar__nav-item,
    .atlas-sidebar__nav-item-sair {
        font-size: 12px;
        padding: 8px 12px;
        margin-top: 0px !important;
    }
    .atlas-main {
        padding: 8vw 4vw;
        width: 100%;
    }
    .atlas-bio-box {
        margin-top: 16px;
        padding: 24px 20px;
        max-width: 100%;
        box-shadow: none;
        border-radius: 8px;
    }
    .atlas-header {
        padding: 16px 20px;
    }

    #hamburguer {
        display: none !important;
    }
    #hamburguer2 {
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

/* Ajustes para telas até 600px */
@media (max-width: 600px) {

    #hamburguer {
        display: flex !important;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    #hamburguer2 {
        display: none !important;
    }

    .atlas-main {
        padding: 10vw 4vw;
    }
    .atlas-header {
        flex-direction: column;
        align-items: center;
        padding: 16px 12px;
        height: auto;
        gap: 12px;
    }
    .atlas-header__logo {
        gap: 24px;
        justify-content: space-between;
        width: 100%;
    }
    .atlas-header__logo img {
        height: 45px;
    }
    .atlas-header__logo p {
        font-size: 14px;
        white-space: nowrap;
    }
    .profile-icon a p {
        display: none;
    }
    .atlas-sidebar {
        flex-direction: column;
        align-items: center;
        padding: 16px 0;
        min-height: auto;
        width: 100%;
        display: none;
    }
    .atlas-sidebar nav {
        flex-direction: column;
        gap: 14px;
    }   
    .atlas-sidebar__nav-item,
    .atlas-sidebar__nav-item-sair {
        font-size: 14px;
        padding: 10px 16px;
        width: 100%;
        justify-content: center;
        border-left: none;
        border-bottom: 1px solid rgba(189, 169, 255, 0.12);
        margin-top: 0px !important;
    }
    .atlas-bio-box {
        padding: 20px;
        margin-top: 12px;
        box-shadow: none;
        border-radius: 6px;
    }
    .atlas-bio-box input {
        font-size: 14px;
        padding: 12px 10px;
    }
    .atlas-bio-box button[type=submit] {
        font-size: 16px;
        padding: 12px 0;
    }
}
